<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">


    <!-- fonts yaha pe rakhe hain -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "font-awesome-4.0.3/css/font-awesome.min.css" %}">

    <!-- CSS STYLE-->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" media="screen" />

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{% static "rs-plugin/css/settings.css" %}" media="screen" />

</head>


<body>

    <div class="container-fluid">

        <div class="headernav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo ">
                        <a href="{% url 'home' %}">
                            <img src="{% static "images/logo.jpg" %}" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selecttopic">
                        <div class="dropdown">
                            <a data-toggle="dropdown" href="#">Forum </a>
                            <b class="caret"></b>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">Subcategory 1</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-2" href="#">Subcategory 2</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-3" href="#">Subcategory 3</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                        <div class="wrap">
                            <form action="#" method="post" class="form">
                                <div class="pull-left txt">
                                    <input type="text" class="form-control" placeholder="Search the Forum">
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                        <div class="stnt pull-left">
                            <a href ="{% url 'createthread' %}"><button class="btn btn-primary">Start New Thread</button> </a>
                        </div>
                        <div class="env pull-left">
                            <i class="fa fa-envelope"></i>
                        </div>

                        <div class="avatar pull-left dropdown">
                            <a data-toggle="dropdown" href="#">
                                <img src="{% static "images/avatar1.jpg" %}" alt="" />
                            </a>
                            <b class="caret"></b>
                            <div class="status green">&nbsp;</div>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">My Profile</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-2" href="#">Inbox</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-3" href="#">Log Out</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-4" href="04_new_account.html">Create account</a>
                                </li>
                            </ul>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>


        {% block bodyblock %}
        {% endblock %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <div class="pull-left">
                <a href="#" class="prevnext">
                    <i class="fa fa-angle-left"></i>
                </a>
            </div>
            <div class="pull-left">
                <ul class="paginationforum">
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">6</a>
                    </li>
                    <li>
                        <a href="#">7</a>
                    </li>
                    <li>
                        <a href="#">8</a>
                    </li>
                    <li class="hidden-xs">
                        <a href="#">9</a>
                    </li>
                    </li>
                    <li>
                        <a href="#">20</a>
                    </li>
                </ul>
            </div>
            <div class="pull-left">
                <a href="#" class="prevnext last">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-xs-3 col-sm-2 logo ">
                <a href="{% url 'home' %}">
                    <img src="{% static "images/logo.jpg" %}" alt="" />
                </a>
            </div>
            <div class="col-lg-8 col-xs-9 col-sm-5 ">Copyrights 2014, websitename.com</div>
            <div class="col-lg-3 col-xs-12 col-sm-5 sociconcent">
                <ul class="socialicons">
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cloud"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>

<!-- get jQuery from the google apis -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>


<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="{% static "rs-plugin/js/jquery.themepunch.plugins.min.js" %}"></script>
<script type="text/javascript" src="{% static "rs-plugin/js/jquery.themepunch.revolution.min.js" %}"></script>

<script src="{% static "js/bootstrap.min.js" %}"></script>


<script type="text/javascript">
    var revapi;

    jQuery(document).ready(function () {
        "use strict";
        revapi = jQuery('.tp-banner').revolution({
            delay: 15000,
            startwidth: 1200,
            startheight: 278,
            hideThumbs: 10,
            fullWidth: "on"
        });

    }); //ready
</script>

<!-- END REVOLUTION SLIDER -->
</body>

</html>
