{% extends 'base.html' %}


{% block bodyblock %}

            <section class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 breadcrumbf">
                            <a href="#">Create New Thread</a> 
                        </div>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">

                            <!-- POST -->
                            <div class="post">
                                <form action="#" class="form newtopic" method="post">
                                    {% csrf_token %}
                                    <div class="postinfotop">
                                        <h2>Create New Thread</h2>
                                    </div>

                                    <!-- acc section -->
                                    <div class="accsection">
                                        <div class="topwrap">
                                            <div class="userinfo pull-left">
                                                <div class="avatar">
                                                </div>  
                                                <div>
                                                </div>
                                            </div>
                                            <div class="posttext pull-left">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        <label for = "user_name"></label>
                                                        <input type="text" name = "user_name" placeholder="User Name" class="form-control" />
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <label for = "subject"></label>
                                                        <input type="text" name = "subject" placeholder="Subject/Topic" class="form-control" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label for = "description"></label>
                                                    <input type="text" name = "description" placeholder="Description" class="form-control" />
                                                </div>
                                                <div class="textwraper">
                                                    <div class="postreply">Content of the thread</div>
                                                    <label for="post_body"></label>
                                                    <textarea name="post_body"placeholder="Type your body here"></textarea>
                                                </div><br>
                                                                                                

                                            </div>
                                        </div>  
                                    </div><!-- acc section END -->
                                    <div class="postinfobot">
                                        <div class="pull-left lblfch">
                                            <label for="note"> I agree with the Terms and Conditions of this site</label>
                                        </div>

                                        <div class="pull-right postreply">
                                            <div class="pull-left smile"><a href="#"><i class="fa fa-smile-o"></i></a></div>
                                            <div class="pull-left"><button type="submit" class="btn btn-primary">Create thread</button></div>
                                            <div class="clearfix"></div>
                                        </div>


                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div><!-- POST -->






                        </div>
                        <div class="col-lg-4 col-md-4">

<!-- -->
<div class="sidebarblock">
    <h3>Categories (yet to be created)</h3>
    <div class="divline"></div>
    <div class="blocktxt">
        <ul class="cats">
            <li>
                <a href="#">Quantum Computing
                    <span class="badge pull-right">20</span>
                </a>
            </li>
            <li>
                <a href="#">Artificial Intelligence
                    <span class="badge pull-right">10</span>
                </a>
            </li>
            <li>
                <a href="#">Machine Learning
                    <span class="badge pull-right">50</span>
                </a>
            </li>
            <li>
                <a href="#">Deep Learning
                    <span class="badge pull-right">36</span>
                </a>
            </li>
            <li>
                <a href="#">Web &amp; Development
                    <span class="badge pull-right">20</span>
                </a>
            </li>
            <li>
                <a href="#">Some random category
                    <span class="badge pull-right">11</span>
                </a>
            </li>
            <li>
                <a href="#">Some other tag or type of forum
                    <span class="badge pull-right">5</span>
                </a>
            </li>
        </ul>
    </div>
</div>

                            

                            <!-- -->
                            <div class="sidebarblock">
                                <h3>All Active Threads</h3>
                                <div class="divline"></div>
                                {% for i in threads %}
                                <div class="blocktxt">
                                    <a href="{% url " viewthread " i.id %}">{{ i.description }}</a>
                                </div>
                                {% endfor %}
                            </div>



                        </div>
                    </div>
                </div>


{% endblock %}